#airflow-scheduler.service

[Unit]
Description=Airflow scheduler daemon
After=network.target postgresql.service mysql.service redis.service rabbitmq-server.service
Wants=postgresql.service mysql.service redis.service rabbitmq-server.service

[Service]
#EnvironmentFile=/etc/default/airflow
Environment="PATH=/home/vta/airflow_vta/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
User=root
Group=root
Type=simple
ExecStart=/usr/bin/bash -c 'source /home/vta/airflow_vta/bin/activate; airflow scheduler'
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target